@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=VT323&display=swap');

/* colors
primary: #007580 deep teal | for buttons
secondary: #B0DFE5 baby blue (sky blue #4f91e3 ) | for headings ...
accent: #F4A261 light orange

*/
/* main style */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #03031c;
  font-family: 'Montserrat', sans-serif;
  color: #e0e6ed;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
* {
  box-sizing: border-box;
  line-height: 1.6;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f0f5fa;
  font-family: 'Josefin Sans', 'Montserrat', sans-serif;
}

h2 {
  color: #b0dfe5;
  font-size: 2rem;
  letter-spacing: 3px;
}
/* water ripple style */
#ripple-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

/* Navbar Styles */
nav {
  background-color: #03031c98;
  color: #e0e6ed;
  padding: 1rem 10%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  animation: top-to-bottom 1s ease forwards;
}

.download-cv {
  display: flex;
  align-items: center;
  color: #dddddd;
  background-color: #00758066;
  text-decoration: none;
  font-size: 1rem;
  border: 3px solid #007580;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  transition: color 0.2s ease, transform 0.5s ease;
}

.download-cv svg {
  margin-right: 0.5rem;
}
.download-cv svg path {
  fill: #b0dfe5;
  transition: fill 0.4s ease;
}

.download-cv:hover {
  color: #e0e6ed;
  transform: translateY(-5px);
  svg path {
    fill: #ffffff;
  }
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;
}

.menu ul li:last-child {
  position: relative;
}

.menu ul li:last-child::after {
  content: '';
  display: block;
  width: 40%;
  height: 2px;
  background-color: #b0dfe5;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.menu a {
  color: #e0e6ed;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.menu a:hover,
.menu a.active {
  color: #b0dfe5;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #e0e6ed;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.menu.active {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hamburger-menu.open span:nth-child(1) {
  transform: rotate(45deg) translateY(7px);
}

.hamburger-menu.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-7px);
}

/* section style */
section {
  min-height: 100vh;
  padding: 2rem 12% 2rem;
}

/* hero section style */
#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.hero-content {
  width: 50%;
  /* text-align: left; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero-content h3 {
  font-size: 1.7rem;
  animation: left-to-right 1s ease forwards 0.6s;
}
.hero-content h1 {
  font-size: 2.5rem;
  animation: left-to-right 1s ease forwards 0.7s;
}
.hero-content h1:nth-child(3) {
  font-size: 1.6rem;
  animation-delay: 0.8s;
}
.hero-content .myname {
  color: #b0dfe5;
  text-shadow: #b0dfe5 0px 0px 5px;
}
.hero-content p {
  color: #e0e6ed;
  font-size: 1rem;
  margin: 1rem 0rem;
  animation: left-to-right 1s ease forwards 0.85s;
}

.sociel-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.sociel-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f1d5; /* Moon color */
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border: 2px solid none;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  animation: fade-in 1s ease-in-out forwards 1.2s;
}
.sociel-icons a:hover {
  color: #b0dfe5;
  box-shadow: 0 0 10px #f6f1d5;
  transform: scale(1.1) rotate(360deg);
}
.sociel-icons a i {
  animation: inherit;
}

.cta {
  display: inline-block;
  padding: 0.75rem 2rem;
  margin: 1rem 0;
  color: #e0e6ed;
  background-color: #007580;
  text-decoration: none;
  border: 1px solid #007580;
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 4px 15px #b0dfe5c7;
  animation: fade-in 1s ease-in-out forwards 1s;
  outline: none;
}

.cta:hover {
  transform: translateY(-5px);
}

.hero-content * {
  opacity: 0;
}
.hero-content span,
.sociel-icons {
  opacity: 1;
}
.hero-content .typing {
  color: #9dc6cc;
}

.my-image {
  width: 33vw;
  margin-right: -20px;
  opacity: 0;
  animation: right-to-left 1s ease forwards 1s;
}

.my-image img {
  width: 100%;
  /* border-radius: 50%; */
  /* box-shadow: 16px 0px 30px 5px #007580; */
  transition: box-shadow 0.7s ease;
  transition: filter 0.7s ease;
  filter: drop-shadow(16px 0px 30px #007580);
}
.my-image img:hover {
  /* box-shadow: 16px 0px 30px 10px #007580; */
}

/* keyframs */
@keyframes top-to-bottom {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right-to-left {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* About me section style */
#about-me {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
}
#about-me h2 {
  font-size: 2rem;
  opacity: 0;
  animation: top-to-bottom both;
  animation-timeline: view(70% 20%);
}
#about-me p {
  color: #e0e6ed;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
  animation: top-to-bottom both;
  animation-timeline: view(70% 20%);
  padding: 0 10%;
}

.working {
  border-radius: 50%;
  width: 300px;
  animation: top-to-bottom both;
  animation-timeline: view(70% 20%);
}

/* Project section styling */
#projects {
  /* grid 2 at a line */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  grid-auto-rows: 1fr;
  gap: 1rem;
  padding: 2rem 12%;
  /* overflow-x: hidden; */
}
#projects h2 {
  font-size: 2rem;
  margin: 2rem auto;
  opacity: 0;
  grid-column: span 2;
  grid-row: 1;
  animation: top-to-bottom both;
  animation-timeline: view(70% 20%);
}

.project {
  background-color: #03031c;
  max-width: 60%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
  place-self: center;
}
.project:hover {
  box-shadow: 0 6px 20px #007580;
  .project-image img {
    transform: scale(0.9);
  }
}
.project .project-image {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.project img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.4s ease;
}
.project .project-content {
  padding: 1rem 0;
}
.project h3 {
  color: #b0dfe5;
  font-size: 1.4rem;
}
.project p {
  color: #e0e6ed;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}
.project .cta {
  margin-top: 1rem;
  padding: 0.4rem 1.7rem;
  font-size: 0.9rem;
  font-weight: normal;
  place-self: center;
  animation: left-to-right both;
  animation-timeline: view(70% 15%);
}

.autoShowFromLeft {
  animation: right-to-left both;
  animation-timeline: view(70% 20%);
}

.autoShowFromRight {
  animation: left-to-right both;
  animation-timeline: view(70% 20%);
}

/* skills section style */
#skills,
#about-me,
#contact {
  min-height: 80vh;
}

#skills h2 {
  font-size: 2rem;
  margin: 3rem auto;
  opacity: 0;
  text-align: center;
  animation: top-to-bottom both;
  animation-timeline: view(70% 20%);
}

.skills-container {
  display: flex;
  margin: 20px;
}

.skills-list {
  flex: 1;
  border-right: 2px solid #bbb;
  animation: top-to-bottom both;
  animation-timeline: view(70% 20%);
  display: grid;
  gap: 2rem;
}

.skill-row {
  padding: 10px;
  /* margin: 30px 0; */
  cursor: pointer;
}
.skill-row:first-child {
  margin-top: 0;
}
.skill-row:last-child {
  margin-bottom: 0;
}

.skill-row:hover {
  background-color: #f0f0f039;
  color: #f6f1d5;
  text-shadow: 0 0 5px #ffffff;
}

.skill-content {
  flex: 2;
  padding: 10px;
  display: flex;
  margin: auto 25px;
  justify-content: center;
  min-height: 30vh;
  border-radius: 10px;
  animation: top-to-bottom both;
  animation-timeline: view(70% 10%);
  /* box-shadow: 0px 0px 5px 5px #434343cc; */
}

.icons {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  animation: fade-in 0.8s ease-in-out forwards;
}

.icons img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  padding: 12px;
  transition: transform 0.3s;
  box-shadow: inset 0px 0px 5px 5px #f0f5fa33;
  animation: floating 3s ease-in-out forwards infinite;
}

.icons img:first-child {
  animation-delay: 0.5s;
}

.icons img:hover {
  animation: none;
  transform: scale(1.2);
}

@keyframes floating {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1) translate(0, 5px);
  }
  100% {
    transform: scale(1);
  }
}

/* Contact section style */
#contact h2 {
  font-size: 2rem;
  margin: 2rem auto;
  opacity: 0;
  text-align: center;
  animation: top-to-bottom 1s ease forwards 0.9s;
  span {
    color: #007580;
  }
}

.contact-body {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  padding: 2rem 12%;
}

.contact-inputs {
  width: 50%;
  height: 2rem;
  border: none;
  border-radius: 5px;
  color: #b0dfe5;
  padding-left: 10px;
  background-color: #e0e6ed50;
  font-family: 'Montserrat', sans-serif;
}

.contact-body textarea {
  width: 50%;
  height: 10rem;
  padding-top: 10px;
  border: none;
  color: #b0dfe5;
  background-color: #e0e6ed50;
}

.contact-inputs:focus {
  outline: #007580;
  border-bottom: 2px solid #007580;
}

.contact-inputs::placeholder {
  color: #b0dfe5;
}

.contact-button {
  background-color: #007580;
  color: white;
  border: none;
  padding: 0.7rem 1.7rem;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 20px;
}

.contact-button span {
  transition: transform 0.3s ease;
}

.contact-button:hover {
  background-color: #007580;
  color: #b0dfe5;
}

.contact-button:hover span {
  transform: translateX(5px);
}

/* Footer style */
footer {
  background-color: #00000050;
  color: #f8f8f8;
  padding: 1rem 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9rem;
}
footer .sociel-icons {
  margin: 0;
}
footer .sociel-icons a {
  opacity: 0;
}
footer p:last-child {
  font-size: 0.8rem;
  color: #e0e6ed;
}

/* Responsive Design */
@media (max-width: 890px) {
  /* navbar */
  nav {
    padding: 1rem 5%;
    height: 70px;
  }
  .menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #03031c;
    width: 100%;
    text-align: center;
  }

  .menu ul {
    flex-direction: column;
    padding: 1rem 0;
    gap: 1.5rem;
  }

  .hamburger-menu {
    display: flex;
    z-index: 1001;
  }

  .download-cv {
    padding: 0.5rem 1rem;
  }

/* hero section */
  /* #hero {
    flex-direction: column-reverse;
    gap: .8rem;
  } */
  .my-image {
    /* margin-top: 2.5rem;
    width: 40vw; */
    display: none;
  }

  .hero-content {
    width: 100%;
  }

  .hero-content h1 {
    font-size: 2rem;
  }
  
  .hero-content h3 {
    font-size: 1.5rem;
  }

  .hero-content p {
    font-size: 0.9rem;
  }

  .cta {
    font-size: 0.9rem;
  }
  /* about me section */
  .working {
    width: 200px;
  }

  #about-me p {
    padding: 0;
    text-align: left;
  }

  /* projects section */

  #projects {
    display: flex;
    flex-direction: column;
    overflow-x: clip;
  }

  .project {
    max-width: 100%;
  }

  /* skills section */
  .skills-container {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .skills-list {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;
    width: 100%;
    padding: 10px 0;
    border-right: none;
    margin-bottom: 20px;
  }

  .skill-row {
    min-width: 200px;
    text-align: center;
    font-size: 13px;
    padding: 10px;
    scroll-snap-align: center;
    border: 1px solid #b0dfe5;
    border-radius: 5px;
    background-color: #03031c;
    transition: background-color 0.3s, transform 0.3s;
  }

  .skill-row:hover {
    background-color: #f0f0f039;
    transform: scale(1.1);
  }

  .skill-content {
    width: 100%;
    margin: 0;
  }

  .icons {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .icons img {
    width: 50px;
    height: 50px;
  }


  /* contact section */
  .contact-body {
    padding: 0;
  }

  .contact-inputs {
    width: 100%;
  }

  .contact-body textarea {
    width: 100%;
  }

  /* footer */
  footer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  footer p {
    font-size: 13px;
    text-align: center;
  }

}
