@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=VT323&display=swap');

/* main style */
body {
  /* body's backround */
  background-color: #03031c;
  /* background-image: url('/assets/images/clouds.png'); */
  /* background-repeat: no-repeat; */

  font-family: 'Montserrat', sans-serif;
  color: #f8f8f8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}
/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
* {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.left-cloud {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  z-index: -1;
  opacity: 0;
}

.right-cloud {
  position: absolute;
  top: 77px;
  right: 0;
  width: 200px;
  z-index: -1;
  transform: scaleX(-1);
}

@keyframes clear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .4;
  }
  100% {
    opacity: 1; 
  }
}

.right-cloud, .left-cloud {
  filter: brightness(0.7) opacity(0.8);
  animation: clear 2s ease forwards;
}

h2 {
  font-size: 2rem;
  font-family: 'Josefin Sans', 'Montserrat', sans-serif;
}

/* Navbar Styles */
nav {
  background-color: #03031c98;
  color: #f8f8f8;
  padding: 1rem 5%;
  position: fixed;
  width: -webkit-fill-available;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  animation: top-to-bottom 1s ease forwards;
}

.download-cv {
  display: flex;
  align-items: center;
  color: #f8f8f8;
  text-decoration: none;
  font-size: 1rem;
	border: 3px solid #D4BFEC;
	padding: 0.5rem 1.5rem;
	border-radius: 20px;
	transition: color 0.3s ease;
}

.download-cv svg {
  margin-right: 0.5rem;
}

.download-cv:hover {
	color: #f4a261; /* Accent color for hover effect */
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;
}


.menu a {
  color: #f8f8f8;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.menu a:hover, .menu a.active {
  color: #f4a261;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger-menu span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #f8f8f8;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.menu.active {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hamburger-menu.open span:nth-child(1) {
  transform: rotate(45deg) translateY(7px);
}

.hamburger-menu.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-7px);
}

/* section style */
section {
  min-height: 100vh;
  padding: 2rem 12% 2rem;
}

/* hero section style */
#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.hero-content {
  width: 50%;
  text-align: left;
}
.hero-content h3 {
  font-size: 1.7rem;
  animation: left-to-right 1s ease forwards .6s;
}
.hero-content h1 {
  font-size: 2.5rem;
  animation: left-to-right 1s ease forwards .7s;
}
.hero-content h1:nth-child(3) {
  font-size: 1.6rem;
  animation-delay: .8s;

}
.hero-content .myname {
  color: #f4a261;
  text-shadow: #D4BFEC 0px 0px 10px;
}
.hero-content p {
  color: #BBBBBB;
  font-size: 1rem;
  margin: 1.5rem 0rem;
  animation: left-to-right 1s ease forwards .85s;
}

.cta {
  display: inline-block;
  padding: 0.75rem 2rem;
  color: #f8f8f8;
  background-color: #f4a261; /* Accent color */
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 4px 15px rgba(244, 162, 97, 0.4);
  animation: left-to-right 1s ease forwards 1s;
}

.cta:hover {
  background-color: #e07a5f; /* Slightly darker accent color */
  transform: translateY(-5px); /* Slight lift on hover */
  box-shadow: 0 6px 20px rgba(224, 122, 95, 0.5);
}

.hero-content *{
  opacity: 0;
}
.hero-content span {
  opacity: 1;
}
.hero-content .typing {
  color: #e07a5f;
}

.my-image {
  width: 33vw;
  margin-right: -20px;
  opacity: 0;
  animation: right-to-left 1s ease forwards 1s;
}

.my-image img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 16px 0px 30px 5px rgba(244, 162, 97, 0.8);
  transition: box-shadow .7s ease;
}
.my-image img:hover {
  box-shadow: 16px 0px 30px 10px #e07a5f;
}

/* keyframs */
@keyframes top-to-bottom {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes right-to-left {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* About me section style */
#about-me {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
}
#about-me h2 {
  font-size: 2rem;
  opacity: 0;
  animation: top-to-bottom 1s ease forwards 0.9s;
}
#about-me p {
  color: #BBBBBB;
  font-size: 1.2rem;
  text-align: center;
  opacity: 0;
  animation: top-to-bottom 1s ease forwards 1s;
  padding: 0 10%;
}

/* Project section styling */
#projects {
  /* grid 2 at a line */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem 12%;
}
#projects h2 {
  font-size: 2rem;
  opacity: 0;
  /* addjust this to activate when scroll not refresh ... */
  animation: top-to-bottom 1s ease forwards 0.9s; 
  grid-column: span 2;
}
.project {
  background-color: #03031c;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}
.project:hover {
  box-shadow: 0 6px 20px rgba(235, 235, 235, 0.3);
}
.project .project-image {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.project img {
  width: 100%;
  border-radius: 10px;
}


/* Responsive Design */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #03031c;
    width: 100%;
    text-align: center;
  }

  .menu ul {
    flex-direction: column;
    padding: 1rem 0;
    gap: 1.5rem;
  }

  .hamburger-menu {
    display: flex;
    z-index: 1001;
  }
}

